<div ng-controller="usersCtrl">
    <button ng-click="triggerRelink()">Trigger Relink</button>
    <div > 
        alerterflag.alerterflag value <input id="aaa" ng-model="alerterflag.alerterflag" />
    </div>


     <form name="authForm" novalidate>
            <table class="table table-striped table-bordered">
                <tr >
                    
                    <th >First Name</th>
                    <th>Last Name</th>
                 
                </tr>
                <tr ng-repeat="order in orders">
                    <td>{{order.firstname}}</td>
                    <td>{{order.lastname}}</td>

                    <td>
                        <div>
                            <button ng-click="selectOrder(order)" class="btn btn-xs btn-primary">
                                Edit
                            </button>
                            <button ng-click="deleteorder(order)" class="btn btn-xs btn-primary">
                                Delete
                            </button>
                        </div>
                    </td>

                </tr>
                <tr ng-show="createmode">


                    <td> <input ng-model="editeduser.firstname" required /></td>
                    <td><input ng-model="editeduser.lastname" required /></td>
                    <td>
                        <div>
                            <button ng-click="createorder()" class="btn btn-xs btn-primary">
                                Create
                            </button>


                        </div>
                    </td>

                </tr>

            </table>


         <div relink-event="myEventName" >
             <div ng-show="editmode">
                 <h3>User Details: </h3>

                 <table class="table table-striped table-bordered" >
                     <tr>
                         <th>First Name</th>
                         <th>Last Name</th>
                     </tr>
                     <tr>


                         <td> <input ng-model="editeduser.firstname" required ng-disabled="true" /></td>
                         <td><input ng-model="editeduser.lastname" required ng-disabled="true" /></td>
                         <td>
                             <div>
                                 <button ng-click="saveuserentitlements()" class="btn btn-xs btn-primary">
                                     Save
                                 </button>
                                 <button ng-click="canceledit()" class="btn btn-xs btn-primary">
                                     Cancel
                                 </button>

                             </div>
                         </td>

                     </tr>
                 </table>

                 <table class="table table-striped table-bordered" id="emttable">
                     <tr>

                         <!--<th>Claim ID</th>-->
                         <th>Entitlement Level</th>
                         <!--<th>Rank</th>-->
                         <th >
                             Entitlement Type
                             <span>
                                 <button ng-click="addClaimType()" class="btn btn-xs btn-primary" ng-if="ClaimsOfMinimumValue.length==0">
                                     Add Entitlement
                                 </button>
                             </span>
                         </th>

                     </tr>

                     <tr ng-repeat="item in ClaimsOfMinimumValue" id="ddd{{$index}}">

                         <td><claimtypeamddescriptionlevel selectedclaimv2="selectedclaimv2" alerterflag="alerterflag.alerterflag" currentclaimsofminimumvalueitem={{item}} islast={{(!!$last)}} isaddbuttonpressed={{addbuttonpressed}} indexinarrayofminvalues={{$index}} claimtypesarray={{ClaimTypes}} claimtypesstringsonnlyarray={{claimtypesstrinarray}} claimsofminimumvaluearray="ClaimsOfMinimumValue" /></td>
                         <td> <claimtypeamddescriptiontype ng-model="item.ClaimType" alerterflag="alerterflag.alerterflag" currentclaimsofminimumvalueitem={{item}} islast={{(!!$last)}} isaddbuttonpressed={{addbuttonpressed}} indexinarrayofminvalues={{$index}} claimtypesarray={{ClaimTypes}} claimtypesstringsonnlyarray={{claimtypesstrinarray}} claimsofminimumvaluearray="ClaimsOfMinimumValue" /></td>

                         <td>
                             <div>
                                 <button ng-click="removeclaimtype($index)" class="btn btn-xs btn-primary">
                                     Remove
                                 </button>
                                 <button ng-click="addClaimType()" class="btn btn-xs btn-primary" ng-if="$last && item.ClaimType && item.Description">
                                     Add+
                                 </button>
                             </div>
                         </td>
                     </tr>


                 </table>
             </div>
         </div>

         </form>
</div>